.app {
  display: grid;
  place-items: center;

  height: 100vh;
  background-color: #f3f2f3;
}

.app__body {
  display: flex;

  background-color: #dee9ac;
  height: 90vh;
  width: 90vw;
  max-width: 1200px;
  border-radius: 30px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
